
@{
    ViewData["Title"] = "Reports";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Reports</h1>
<h4>Dashboard</h4>
<script type="text/javascript">
    window.onload = function () {
        var element = document.getElementById("_dashboard");
        element.classList.add("active");
    }
</script>
<div class="row d-flex justify-content-end align-content-end">
    <button class="btn btn-danger" onclick="window.print()"><i class="fas fa-print"></i>&nbsp;Pdf</button>
</div>

<div class="row mb-2">
    <!---->
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card card-stats">
            <div class="card-header card-header-primary card-header-icon text-center">
                <p class="card-category">Account Balance</p>
                <h3 class="card-title">$ @ViewBag.Balance</h3>
                <hr />
            </div>
            <div class="card-header card-header-danger card-header-icon text-center">
                <p class="card-category">Total Purchases</p>
                <h3 class="card-title">$ @ViewBag.CashFlow</h3>
                <hr />
            </div>
            <div class="card-header card-header-rose card-header-icon text-center">
                <p class="card-category">Purchases</p>
                <h3 class="card-title"> @ViewBag.totalNoPurchases</h3>
            </div>
        </div>
    </div>
    <!---->
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon text-center">
                <p class="card-category">Users</p>
                <h3 class="card-title"> @ViewBag.totalNoUsers</h3>
                <hr />
            </div>
            <div class="card-header card-header-success card-header-icon text-center">
                <p class="card-category">Items</p>
                <h3 class="card-title"> @ViewBag.totalNoItems</h3>
                <hr />
            </div>
            <div class="card-header card-header-info card-header-icon text-center">
                <p class="card-category">Visits</p>
                <h3 class="card-title"> @ViewBag.totalNoVisits</h3>
            </div>
        </div>
    </div>
    <!---->
</div>

<div class="content" id="chartPerformance_Content">
    <div class="row">
        <div class="col-12">
            <div class="card card-chart">
                <div class="card-header ">
                    <div class="row">
                        <div class="col-sm-6 text-left">
                            <h5 class="card-category text-primary">@DateTime.Today.ToString("MMMM, yyyy")</h5>
                            <h2 class="card-title">Performance</h2>
                        </div>
                        <div class="col-sm-6">
                            <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                                <label class="btn btn-sm btn-primary btn-simple active" id="perfChart_D" onclick="perfChartD_Click()">
                                    <input type="radio" class="d-none d-sm-none" name="options" checked>
                                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Daily</span>
                                </label>
                                <label class="btn btn-sm btn-primary btn-simple" id="perfChart_M" onclick="perfChartM_Click()">
                                    <input type="radio" class="d-none" name="options">
                                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Monthly</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="chartPerformance" class="w-100" height="500"></canvas>


                        <script type="text/javascript">
                            const chart_data_daily_Visits = JSON.parse('@ViewBag.visitsDArray');
                            const chart_data_daily_Accounts = JSON.parse('@ViewBag.accountsDArray');
                            const chart_data_daily_Sessions = JSON.parse('@ViewBag.sessionsDArray');
                            const chart_data_daily_Purchases = JSON.parse('@ViewBag.purchasesDArray');
                            const chart_data_daily_Uploads = JSON.parse('@ViewBag.uploadsDArray');
                            const chart_data_daily_Interactions = JSON.parse('@ViewBag.interactionsDArray');


                            const chart_data_monthly_Visits = JSON.parse('@ViewBag.visitsMArray');
                            const chart_data_monthly_Accounts = JSON.parse('@ViewBag.accountsMArray');
                            const chart_data_monthly_Sessions = JSON.parse('@ViewBag.sessionsMArray');
                            const chart_data_monthly_Purchases = JSON.parse('@ViewBag.purchasesMArray');
                            const chart_data_monthly_Uploads = JSON.parse('@ViewBag.uploadsMArray');
                            const chart_data_monthly_Interactions = JSON.parse('@ViewBag.interactionsMArray');


                            var chart_labels_D = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31];
                            var chart_labels_M = ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC'];

                            var bg_color_1 = 'rgba(255, 99, 132, 0.2)';
                            var bg_color_2 = 'rgba(54, 162, 235, 0.2)';
                            var bg_color_3 = 'rgba(255, 206, 86, 0.2)';
                            var bg_color_4 = 'rgba(75, 192, 192, 0.2)';
                            var bg_color_5 = 'rgba(153, 102, 255, 0.2)';
                            var bg_color_6 = 'rgba(255, 159, 64, 0.2)';

                            var br_color_1 = 'rgba(255, 99, 132, 1)';
                            var br_color_2 = 'rgba(54, 162, 235, 1)';
                            var br_color_3 = 'rgba(255, 206, 86, 1)';
                            var br_color_4 = 'rgba(75, 192, 192, 1)';
                            var br_color_5 = 'rgba(153, 102, 255, 1)';
                            var br_color_6 = 'rgba(255, 159, 64, 1)';

                            var ctx = document.getElementById("chartPerformance").getContext('2d');
                            var config = {
                                type: 'line',
                                data: {
                                    labels: chart_labels_D,
                                    datasets: [{
                                        data: chart_data_daily_Visits,
                                        label: 'Visits (10)',
                                        backgroundColor: bg_color_1,
                                        borderColor: br_color_1,
                                        fill: true,
                                        borderWidth: 1,
                                        pointBorderWidth: 5,
                                        pointHoverRadius: 4,
                                        pointHoverBorderWidth: 3,
                                        borderDash: [],

                                        borderDashOffset: 0.0,
                                        pointHoverBackgroundColor: '#d346b1'
                                    },
                                    {
                                        data: chart_data_daily_Accounts,
                                        label: 'Accounts',
                                        backgroundColor: bg_color_2,
                                        borderColor: br_color_2,
                                        fill: true,
                                        borderWidth: 1,
                                        pointBorderWidth: 5,
                                        pointHoverRadius: 4,
                                        pointHoverBorderWidth: 3,
                                        borderDash: [],

                                        borderDashOffset: 0.0,
                                        pointHoverBackgroundColor: '#d346b1'
                                    },
                                    {
                                        data: chart_data_daily_Sessions,
                                        label: 'Sessions',
                                        backgroundColor: bg_color_3,
                                        borderColor: br_color_3,
                                        fill: true,
                                        borderWidth: 1,
                                        pointBorderWidth: 5,
                                        pointHoverRadius: 4,
                                        pointHoverBorderWidth: 3,
                                        borderDash: [],

                                        borderDashOffset: 0.0,
                                        pointHoverBackgroundColor: '#d346b1'
                                    },
                                    {
                                        data: chart_data_daily_Purchases,
                                        label: 'Purchases',
                                        backgroundColor: bg_color_4,
                                        borderColor: br_color_4,
                                        fill: true,
                                        borderWidth: 1,
                                        pointBorderWidth: 5,
                                        pointHoverRadius: 4,
                                        pointHoverBorderWidth: 3,
                                        borderDash: [],

                                        borderDashOffset: 0.0,
                                        pointHoverBackgroundColor: '#d346b1'
                                    },
                                    {
                                        data: chart_data_daily_Uploads,
                                        label: 'Uploads',
                                        backgroundColor: bg_color_5,
                                        borderColor: br_color_5,
                                        fill: true,
                                        borderWidth: 1,
                                        pointBorderWidth: 5,
                                        pointHoverRadius: 4,
                                        pointHoverBorderWidth: 3,
                                        borderDash: [],

                                        borderDashOffset: 0.0,
                                        pointHoverBackgroundColor: '#d346b1'
                                    },
                                    {
                                        data: chart_data_daily_Interactions,
                                        label: 'Interactions',
                                        backgroundColor: bg_color_6,
                                        borderColor: br_color_6,
                                        fill: true,
                                        borderWidth: 1,
                                        pointBorderWidth: 5,
                                        pointHoverRadius: 4,
                                        pointHoverBorderWidth: 3,
                                        borderDash: [],

                                        borderDashOffset: 0.0,
                                        pointHoverBackgroundColor: '#d346b1'
                                    }]
                                },
                                options: {
                                    scales: {
                                        y: {
                                            beginAtZero: true,
                                            ticks: {
                                                precision: 0
                                            }
                                        }
                                    }
                                }
                            };
                            const myChartAccess = new Chart(ctx, config);
                            function perfChartD_Click() {
                                var data = myChartAccess.config.data;
                                data.datasets[0].data = chart_data_daily_Visits;
                                data.datasets[0].label = 'Visits (10)';
                                data.datasets[1].data = chart_data_daily_Accounts;
                                data.datasets[1].label = 'Accounts';
                                data.datasets[2].data = chart_data_daily_Sessions;
                                data.datasets[2].label = 'Sessions';
                                data.datasets[3].data = chart_data_daily_Purchases;
                                data.datasets[3].label = 'Purchases';
                                data.datasets[4].data = chart_data_daily_Uploads;
                                data.datasets[4].label = 'Uploads';
                                data.datasets[5].data = chart_data_daily_Interactions;
                                data.datasets[5].label = 'Interactions';
                                data.labels = chart_labels_D;
                                myChartAccess.update();
                            };
                            function perfChartM_Click() {
                                var data = myChartAccess.config.data;
                                data.datasets[0].data = chart_data_monthly_Visits;
                                data.datasets[0].label = 'Visits (10)';
                                data.datasets[1].data = chart_data_monthly_Accounts;
                                data.datasets[1].label = 'Accounts';
                                data.datasets[2].data = chart_data_monthly_Sessions;
                                data.datasets[2].label = 'Sessions';
                                data.datasets[3].data = chart_data_monthly_Purchases;
                                data.datasets[3].label = 'Purchases';
                                data.datasets[4].data = chart_data_monthly_Uploads;
                                data.datasets[4].label = 'Upload';
                                data.datasets[5].data = chart_data_monthly_Interactions;
                                data.datasets[5].label = 'Interactions';
                                data.labels = chart_labels_M;
                                myChartAccess.update();
                            };
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

