@model IEnumerable<ZoomIn.Models.Usertransaction>

@{
    ViewData["Title"] = "LoadUTransactions";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<h1>User Transactions</h1>
<h4>Finance</h4>

<script type="text/javascript">
    window.onload = function () {
        var element = document.getElementById("_finance");
        element.classList.add("active");
    }
</script>

<div class="row">
    <div class="col-12 text-right">
        <a asp-action="Index" class="btn btn-dark">
            <i class="fas fa-sign-out-alt"></i> &nbsp; Back
        </a>
        <a class="btn btn-success text-decoration-none text-white" onclick="htmlTableToExcel(document.getElementById('uTransactions').id, fileName = 'uTransactions')">
            <i class="fas fa-file-excel"></i> &nbsp; Excel
        </a>
    </div>
</div>

<table class="table" id="uTransactions">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Date
            </th>
            <th>
                Payment
            </th>
            <th>
                Profit Rate
            </th>
            <th>
                Value
            </th>
            <th>
                Descritption
            </th>
            <th>
                Purchase ID
            </th>
            <th>
                Buyer ID
            </th>
            <th>
                Seller ID
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.UtransactionId.ToString("0")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Utransactiondate)
                </td>
                <td>
                    $&nbsp;@item.Paymenttotal.Value.ToString("00.00")
                </td>
                <td>
                    %&nbsp;@(item.Relatedsiterate.Value * 100)
                </td>
                <td>
                    $&nbsp;@item.Utransactionvalue.Value.ToString("0.00")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Utdescription)
                </td>
                <td>
                    @item.PurchaseId.Value.ToString("0")
                </td>
                <td>
                    @item.FromId.Value.ToString("0")
                </td>
                <td>
                    @item.ToId.Value.ToString("0")
                </td>
            </tr>
        }
    </tbody>
</table>
